<div class="debug">
	{{#each pegrow in model}}
		[{{pegrow.id}}/

		{{#each peg in pegrow.pegsp}}
			[{{peg.id}}/
			{{peg.pegrow}}/
			{{peg.pos}}/
			{{peg.color}}]
		{{/each}}


		/{{pegrow.row}}]
	{{/each}}
	<br><hr>


</div>